.jfx-text-field {
     -fx-prompt-text-fill: WHITE;
     -jfx-focus-color: WHITE;
     -jfx-unfocus-color: WHITE;
     -fx-fill: WHITE;
    // -fx-font: white;
     -jfx-fill:white;
     -fx-text-inner-color: white;
 }

.jfx-password-field {
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: WHITE;
    -jfx-unfocus-color: WHITE;
    -fx-fill: WHITE;
    //-fx-font: white;
    -jfx-fill:white;
    -fx-text-inner-color: white;
}
.anchor {
  //-fx-background-image: url('../fs_dbl_texture_attachment.png');
}
.tab-header-area{
   // -fx-background-color: white;
   // -fx-border-color: 2px black;
}
